.flex-grid {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 20px 5%;
}
.card {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 8px;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  text-decoration: none;
}

.pokemon-list .card {
  width: 30%;
  margin: 2%;
}

.pokemon-list .card__name h3 {
  text-transform: capitalize;
  margin: 0;
}

.pokemon-list .card__sprite {
  padding-top: 50px;
}

.pokemon-list .card__sprite img {
  max-width: 100%;
  height: auto;
}

.pokemon-list .card__number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px 0;
  width: 100px;
  text-align: center;
  color: #fff;
  background-color: #666;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.favorite {
  color: #333;
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 10px auto 0;
  display: block;
}

.favorite svg {
  transition: fill 150ms, color 150ms;
  fill: transparent;
  color: #333;
}

.favorite svg:hover {
  fill: #ce2121;
  color: #ce2121;
  cursor: pointer;
}

@media (max-width: 980px) {
  .flex-grid .card {
    width: 28%;
  }
}

@media (max-width: 780px) {
  .flex-grid .card {
    width: 48%;
  }
}

@media (max-width: 580px) {
  .flex-grid .card {
    width: 48%;
    margin: 1% 0;
  }
  .card__sprite {
    padding-top: 20%;
  }
}

@supports (display: grid) {
  .flex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 260px));
    grid-gap: 20px;
  }
  .flex-grid .card {
    width: auto;
    margin: 0;
  }
  @media (max-width: 580px) {
    .flex-grid {
      grid-template-columns: 1fr 1fr;
    }
    .flex-grid .card {
      width: 100%;
      margin: 1% 0;
    }
  }
}

.pokemon-info {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  position: relative;
}
.pokemon-info__navigation {
  display: flex;
  display: -webkit-flex;
  padding: 40px 5%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pokemon-info__sprite {
  height: auto;
  min-height: 200px;
  flex-shrink: 0;
  display: flex;
  display: -wekbit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.burst-out {
  animation: 1s release 250ms linear;
}

@keyframes release {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.pokemon-info__sprite img {
  width: 180px;
}
.pokemon-info__details {
  background-color: #fff;
  position: relative;
  border-top: 1px solid #95989a;
  padding: 0 5% 40px;
  flex-grow: 1;
}
.pokemon-info__number {
  position: absolute;
  top: -18.5px;
  left: 5%;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80px;
  text-align: center;
  border: 1px solid #95989a;
  border-bottom: 1px solid #fff;
  font-family: 'Merriweather', serif;
}

.pokemon-info__types {
  padding: 0;
}

.pokemon-info__types li {
  list-style: none;
  border-radius: 10px;
  border: 1px solid #333;
  display: inline-block;
  margin-right: 10px;
  padding: 2px 20px;
  min-width: 100px;
  text-align: center;
}
.pokemon-info__description {
  margin: 20px 0 40px;
}

.pokemon-info__attributes {
  background-color: #4b83a9;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}
.pokemon-info__attributes h3:first-of-type {
  margin-top: 0;
}
.pokemon-info__attributes h3 {
  color: #fff;
}

.button--navigation {
  background-color: #9d9b9b;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  display: -webkit-flex;
  flex-shrink: 0;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 20px;
  opacity: 1;
  border: 0;
}

.button--navigation:disabled {
  opacity: 0;
}

.button--navigation:disabled svg {
  fill: #ccc;
}

.button--navigation svg {
  width: 20px;
  fill: #fff;
  margin-left: 5px;
}

.button--navigation span {
  display: inline-block;
  margin-top: 2px;
  vertical-align: top;
}

.button--previous {
  left: 5%;
}

.button--next {
  right: 5%;
}

.button--previous svg {
  margin-right: 5px;
}

.all-pokemon-container .search-box {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.all-pokemon-container .search-box input {
  padding: 14px 15px;
  border-radius: 5px;
  border: 0;
  min-width: 200px;
}

.single-pokemon-container .search-box {
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 20px;
  width: 400px;
  max-width: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

.single-pokemon-container .search-box input {
  padding: 14px 15px;
  border-radius: 5px;
  border: 0;
  margin: 0 auto;
  width: 100%;
}

.search-box button {
  background-color: #fff;
  border: 0;
  text-transform: capitalize;
  font-size: inherit;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.search-box__dropdown {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.search-box__dropdown ul {
  padding-left: 0;
  background-color: #fff;
}

.search-box__dropdown li {
  list-style: none;
  padding: 0;
}

@media (max-width: 480px) {
  .button--navigation {
    width: auto;
  }
  .button--navigation span {
    display: none;
  }
}
