.user-profile {
	margin-top: 40px;
	padding: 0 5%;
}

.current-user {
	display: flex;
	display: -webkit-flex;
}

.current-user__photo {
	max-width: 200px;
	width: 50%;
}

.current-user__photo img {
	width: 100%;
	height: auto;
}

.current-user__indentification {
	width: 50%;
}